volumes:
  pg_data:

services:
  service:
    container_name: comment-tree
    build:
      context: .
    ports:
      - "${SERVER_PORT}:8080"
    expose:
      - "8080"
    environment:
      SERVER_ADDR: "0.0.0.0:8080"

      POSTGRES_URL: "postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}?sslmode=disable"
      POSTGRES_MAX_OPEN_CONNS: "${POSTGRES_MAX_OPEN_CONNS}"
      POSTGRES_MAX_IDLE_CONNS: "${POSTGRES_MAX_IDLE_CONNS}"
      POSTGRES_CONN_MAX_LIFETIME: "${POSTGRES_CONN_MAX_LIFETIME}"
    restart: unless-stopped
    depends_on:
      postgres:
        condition: service_healthy

  postgres:
    container_name: comment-tree_postgres
    image: postgres:18
    restart: unless-stopped
    environment:
      POSTGRES_USER: "${POSTGRES_USER}"
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
      POSTGRES_DB: "${POSTGRES_DB}"
    volumes:
      - pg_data:/var/lib/postgresql
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}" ]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s

  frontend:
    container_name: comment-tree_frontend
    build:
      context: ./frontend
      args:
        VITE_API_BASE_URL: /api/v1
    ports:
      - "${FRONTEND_PORT}:80"
    depends_on:
      - service
