volumes:
  pg_data:

services:
  service:
    container_name: delayed-notifier
    build:
      context: .
    ports:
      - "${SERVER_PORT}:${SERVER_PORT}"
    environment:
      SERVER_ADDR: "0.0.0.0:${SERVER_PORT}"

      RABBITMQ_URL: "amqp://guest:guest@rabbitmq:5672/"
      RABBITMQ_CONNECT_RETRIES: "${RABBITMQ_CONNECT_RETRIES}"
      RABBITMQ_CONNECT_RETRY_PAUSE: "${RABBITMQ_CONNECT_RETRY_PAUSE}"

      RABBITMQ_EXCHANGE_NAME: "${RABBITMQ_EXCHANGE_NAME}"
      RABBITMQ_ROUTING_KEY: "${RABBITMQ_ROUTING_KEY}"

      RABBITMQ_PRODUCER_RETRY_ATTEMPTS: "${RABBITMQ_PRODUCER_RETRY_ATTEMPTS}"
      RABBITMQ_PRODUCER_RETRY_DELAY: "${RABBITMQ_PRODUCER_RETRY_DELAY}"
      RABBITMQ_PRODUCER_RETRY_BACKOFF: "${RABBITMQ_PRODUCER_RETRY_BACKOFF}"

      RABBITMQ_CONSUMER_RETRY_ATTEMPTS: "${RABBITMQ_CONSUMER_RETRY_ATTEMPTS}"
      RABBITMQ_CONSUMER_RETRY_DELAY: "${RABBITMQ_CONSUMER_RETRY_DELAY}"
      RABBITMQ_CONSUMER_RETRY_BACKOFF: "${RABBITMQ_CONSUMER_RETRY_BACKOFF}"

      RABBITMQ_CONSUMER_WORKERS: "${RABBITMQ_CONSUMER_WORKERS}"
      RABBITMQ_CONSUMER_PROCESS_MESSAGE_TIMEOUT: "${RABBITMQ_CONSUMER_PROCESS_MESSAGE_TIMEOUT}"
      RABBITMQ_CONSUMER_QUEUE_NAME: "${RABBITMQ_CONSUMER_QUEUE_NAME}"

      TELEGRAM_SENDER_RETRY_ATTEMPTS: "${TELEGRAM_SENDER_RETRY_ATTEMPTS}"
      TELEGRAM_SENDER_RETRY_DELAY: "${TELEGRAM_SENDER_RETRY_DELAY}"
      TELEGRAM_SENDER_RETRY_BACKOFF: "${TELEGRAM_SENDER_RETRY_BACKOFF}"
      TELEGRAM_SENDER_BOT_API_TOKEN: "${TELEGRAM_SENDER_BOT_API_TOKEN}"

      POSTGRES_URL: "postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}?sslmode=disable"
      POSTGRES_MAX_OPEN_CONNS: "${POSTGRES_MAX_OPEN_CONNS}"
      POSTGRES_MAX_IDLE_CONNS: "${POSTGRES_MAX_IDLE_CONNS}"
      POSTGRES_CONN_MAX_LIFETIME: "${POSTGRES_CONN_MAX_LIFETIME}"
    restart: unless-stopped
    depends_on:
      postgres:
        condition: service_healthy

  rabbitmq:
    container_name: delayed-notifier_rabbitmq
    build:
      context: ./config/rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    restart: unless-stopped

  postgres:
    container_name: delayed-notifier_postgres
    image: postgres:18
    restart: unless-stopped
    environment:
      POSTGRES_USER: "${POSTGRES_USER}"
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
      POSTGRES_DB: "${POSTGRES_DB}"
    volumes:
      - pg_data:/var/lib/postgresql
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}" ]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s